<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Cantine - Admin</title>
    <link rel="stylesheet" href="/static/admin.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        Bonjour <%= userInfo.user %> !
    </header>

    <div class="wrapper">
        <div class="panel">
            <div class="lundi day">
                <h1>Lundi</h1>
                <div class="midi">
                    <span class="head">Midi</span>
                    <% menu.lundiMidi.forEach(element => { %>
                        <div class="plat"><%= element %> <a href="/delete?plat=<%= element %>&day=lundiMidi">&#10060;</a></div>
                    <% }) %>
                </div>
    
                <div class="soir">
                    <span class="head">Soir</span>
                    <% menu.lundiSoir.forEach(element => { %>
                        <div class="plat"><%= element %> <a href="/delete?plat=<%= element %>&day=lundiSoir">&#10060;</a></div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>