<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Cantine</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        Menu de la cantine
    </header>

    <div class="menu">
        <table>
            <tbody>
                <tr class="table_header">
                    <td class="head">Jour</td>
                    <td class="head2">Midi</td>
                    <td class="head2">Soir</td>
                </tr>
                <tr>
                    <td class="head">Lundi</td>
                    <td>
                        <% if (menu.lundiMidi.length == 1) { %>
                            <%= menu.lundiMidi[0] %>
                        <% } else { %>
                            <% menu.lundiMidi.forEach(element => { %>
                             <%= element %>
                             <br>
                            <% }) %>
                        <% } %>
                    </td>

                    <td>
                        <% if (menu.lundiSoir.length == 1) { %>
                            <%= menu.lundiSoir[0] %>
                        <% } else { %>
                            <% menu.lundiSoir.forEach(element => { %>
                             <%= element %>
                             <br>
                            <% }) %>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td class="head">Mardi</td>
                    <td>
                        <% if (menu.mardiMidi.length == 1) { %>
                            <%= menu.mardiMidi[0] %>
                        <% } else { %>
                            <% menu.mardiMidi.forEach(element => { %>
                             <%= element %>
                             <br>
                            <% }) %>
                        <% } %>
                    </td>

                    <td>
                        <% if (menu.mardiSoir.length == 1) { %>
                            <%= menu.mardiSoir[0] %>
                        <% } else { %>
                            <% menu.mardiSoir.forEach(element => { %>
                             <%= element %>
                             <br>
                            <% }) %>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td class="head">Mercredi</td>
                    <td>
                        <% if (menu.mercrediMidi.length == 1) { %>
                            <%= menu.mercrediMidi[0] %>
                        <% } else { %>
                            <% menu.mercrediMidi.forEach(element => { %>
                             <%= element %>
                             <br>
                            <% }) %>
                        <% } %>
                    </td>

                    <td>
                        <% if (menu.mercrediSoir.length == 1) { %>
                            <%= menu.mercrediSoir[0] %>
                        <% } else { %>
                            <% menu.mercrediSoir.forEach(element => { %>
                             <%= element %>
                             <br>
                            <% }) %>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td class="head">Jeudi</td>
                    <td>
                        <% if (menu.jeudiMidi.length == 1) { %>
                            <%= menu.jeudiMidi[0] %>
                        <% } else { %>
                            <% menu.jeudiMidi.forEach(element => { %>
                             <%= element %>
                             <br>
                            <% }) %>
                        <% } %>
                    </td>

                    <td>
                        <% if (menu.jeudiSoir.length == 1) { %>
                            <%= menu.jeudiSoir[0] %>
                        <% } else { %>
                            <% menu.jeudiSoir.forEach(element => { %>
                             <%= element %>
                             <br>
                            <% }) %>
                        <% } %>
                    </td>
                </tr>
                <td class="head">Vendredi</td>
                <td>
                    <% if (menu.vendrediMidi.length == 1) { %>
                        <%= menu.vendrediMidi[0] %>
                    <% } else { %>
                        <% menu.vendrediMidi.forEach(element => { %>
                         <%= element %>
                         <br>
                        <% }) %>
                    <% } %>
                </td>

                <td></td>
            </tbody>
        </table>
    </div>
</body>
</html>